/* STYLE.CSS */
body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

.hero {
  height: 100vh;
  background: linear-gradient(135deg, red, black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.btn {
  padding: 15px 25px;
  background: red;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.btn.secondary {
  background: #222;
}

.btn:hover {
  transform: scale(1.1);
  background: darkred;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

iframe {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.live {
  padding: 40px;
  background: #111;
}

#liveStatus {
  font-size: 24px;
  margin: 10px 0;
}

footer {
  background: black;
  padding: 20px;
}

footer span {
  color: red;
}
